@using System.Security.Claims;
@{
    string userEmail = ((ClaimsIdentity)User.Identity).Claims.FirstOrDefault(x => x.Type.Equals(ClaimTypes.Email, StringComparison.OrdinalIgnoreCase)).Value;

    string PerExportLimit = ViewContext.HttpContext.Request.Cookies["PerExportLimit"] ?? "0";

    string TodayLimit = ViewContext.HttpContext.Request.Cookies[userEmail] ?? "0";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Find Some</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">

    <style>

        #sidebar {
            transition: all 0.3s ease; /* Smooth transition */
            display: none; /* Hidden by default */
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /* Remove any space from html and body */
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow-x: hidden; /* Prevent scrolling on body */
            overflow-y: hidden !important; /* Prevent scrolling on body */
            box-sizing: border-box; /* Include padding in height calculations */
        }

        *, *::before, *::after {
            box-sizing: inherit; /* Apply box-sizing to all elements */
        }

        /* Ensure the main content starts without extra margins or padding */
        main {
            margin: 0;
            padding: 0;
            width: 100%; /* Ensure it takes up full width */
            min-height: 100vh; /* Full screen height */
        }

        /* Remove unnecessary margins/padding from containers */
        .container, .content {
            margin: 0;
            padding: 20px; /* Add padding for content if needed */
        }

        /* Handle tables, images, and other content that might overflow */
        table, img {
            max-width: 100%; /* Keep tables/images within the viewport */
            height: auto;
        }

        /* Ensure no horizontal scrollbar due to columns or grid layout */
        [class*="col-"] {
            padding-left: 0;
            padding-right: 0;
            margin: 0;
        }

        /* New styles for small screens */
        @@media (max-width: 768px) {
            html, body {
                overflow-x: auto; /* Enable horizontal scrolling on small screens */
            }

            main {
                width: max-content; /* Allow main content to exceed viewport width */
                padding: 0; /* Remove padding to avoid extra space */
            }
        }
    </style>

</head>
<body>


    <main role="main" id="main">
        <partial name="_Notification"></partial>
        @RenderBody()
    </main>


    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</body>
</html>
